@model IsTakip.Core.Classes.WareHouseClasses.WareHouseShelf

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WareHouseShelf</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Explanation" class="control-label"></label>
                <input asp-for="Explanation" class="form-control" />
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WareHouseId" class="control-label">Warehouse Detail</label>
                <select asp-for="WareHouseId" class ="form-control" asp-items="ViewBag.warehouse"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-slack" />
                <a class="btn btn-pinterest" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>


